body {
  height: 100vh;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  font-family: "Courier New", Courier, monospace;
  width: 80%;
  left: 10%;
  position: relative;
}

body > * {
  align-self: center;
}

p {
  font-size: 2rem;
}

.Add-bibleverse-button {
  max-width: fit-content;
  background-color:aquamarine;
  font-size: 36px;
}